/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 3, 2017, 6:24:42 PM
    Author     : 00140161
*/
#cabecera{/*Aplicando tipo,alineacion y tamaño de letra a la cabecera*/
    font-family: forte;
    font-size: 40px;
    text-align: center;
    
}

ul li{/*Aplicando color de fondo,alineacion de la lista,
    color de fondo, quitando estilo por defecto de links, agregando radio
      al borde, agregando tamano o dimencion a la lista no numerada*/
    list-style-type: none;
    background: #04B486;
    display: inline;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    border-radius: 7px;
}
#menu{/*Alinieando el menu hacia el centro al menu*/
    text-align: center;
   
}
#cuerpo{/*Alineando el texto hacia el centro, asignando tipo de letra y tamano
    al cuerpo*/
    text-align: center;
    font-family: magneto;
    font-size: 26px;
}
#pie{/*agregando color de fondo, alineando el texto al centro al pie*/
    background: #04B486;
    text-align: center;
    font-family:arial;
}
a:hover/* */{
    color:black;
    font-size: 24px;
   
}
a{
    text-decoration: none;
}
a:links{
    color:  
}
a:visited {
    color:  
}
a:active{
    color:     
}
form{
    /*centrando el formulario y poniendo borde al formulario*/
    margin: 0 auto;
    width: 600px;
    padding: 1em;
    border: 1px solid #000;
    border-radius: 1em;
    background: white;
    
}
form div{
    /*dandole espacio a los labels*/
    margin-top: 1em;
}
label{/*alineando los labels, dando tamano al texto y el ancho*/
    display: inline-block;
    width: 100px;
    text-align: right;
}
input,textArea{
    font: 1em arial;
    width: 300px;
}
input:focus, textArea:focus{
    border-color: #04B486;
}
textArea{
  vertical-align: top;
}
h1{
   text-align: center;
  
}
#fondo{
   background: #04B486;
}